@use "@/presentation/assets/styles/vite-path" as *;

// This file should only contain @font-face definitions
// Helpful resource: https://gwfh.mranftl.com/fonts

@font-face {
  font-display: swap;
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  src: url('#{$base-assets-path}/fonts/slabo-27px-v14-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Yesteryear';
  font-style: normal;
  font-weight: 400;
  src: url('#{$base-assets-path}/fonts/yesteryear-v18-latin-regular.woff2') format('woff2');
}

/* source-code-pro-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('#{$base-assets-path}/fonts/source-code-pro-v23-latin-regular.woff2') format('woff2');
}
